@charset "utf-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font:
    14px/1.5 '微软雅黑',
    '\5FAE\8F6F\96C5\9ED1',
    '\5b8b\4f53',
    sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
a,
input,
textarea,
select {
  outline: none;
}
*:focus {
  outline: none;
}
input,
textarea,
select {
  font-size: 100%;
}
input[type='button'],
button {
  border: none;
}
input[type='button'],
input[type='text'] {
  -webkit-appearance: none;
}
em,
b {
  font-style: normal;
}
a {
  text-decoration: none;
}
.l {
  float: left;
}
.r {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
} /* 清除浮动 */
